/*counter*/
.ct{
	margin-right: 200px;
}
.ft{
	font-size: 30px;
}
/*counter*/

/*wow js*/
.box1{
	min-height: 250px;
	background-color: blue;
}
.box2{
	min-height: 250px;
	background-color: orange;
}
/*wow js*/

/**
 * Text 4
 */
#text4
{
    margin:           3.0em auto;
    overflow:         hidden;
    width:            66%;
    font:             normal normal normal 2.0em/1.5 'Open Sans Light', sans-serif;
    color:            #ffffff;
    background-color: #04eea0;
}

/*parallax*/
.parallax-window {
    min-height: 300px;
    background: transparent;
}
/*parallax*/

